.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  height: 100vh;
  position: relative;
}
.wave1 {
  position: absolute;
  bottom: 0.5;
  left: 0;
}

#project {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
/* Media Query Ketika di Mobile */
@media (max-width: 576px) {
  .btn-github {
    width: 50%;
  }
  .navbar {
    background-color: black !important;
  }
}
